<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=prokhorenko4sr;AccountKey=C2UAhyhgu5g9KimTGDVYZWYgriBxC9ksJMFZqlRSmr2I9DWWtSd+lidVGiEHZggF2olJ4824p3Y3SgwRjeNHWg==;EndpointSuffix=core.windows.net" />
</appSettings>
</configuration>